<section class="social-media-wrapper">
  <div class="container">
    <div class="social-content">
      <h1>ABONNEZ-VOUS</h1>
      <ul>
        <li>
          <a href="#">
            <img src="@img/social-icon/ulinkedin.svg" alt="linkedin" />
            <span>sur LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@img/social-icon/instagram.svg" alt="instagram" />
            <span>sur Instagram</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="@img/social-icon/facebook.svg" alt="facebook" />
            <span>sur Facebook</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="back"></div>
</section>
