<footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="row gap-sm-0 gap-5">
        <div class="col-xl-3 col-md-3">
          <div class="social-content">
            <h4>ABONNEZ-VOUS</h4>
            <ul>
              <li>
                <a href="#">
                  <img src="@img/social-icon/ulinkedin.svg" alt="linkedin" />
                  <span>LinkedIn</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="@img/social-icon/instagram.svg" alt="instagram" />
                  <span> Instagram</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="@img/social-icon/facebook.svg" alt="facebook" />
                  <span>Facebook</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-5 col-md-5">
          <div class="social-content">
            <h4>Gayssot Recouvrement</h4>
            <ul>
              <li>
                <span>51 Ter Rue de Saint Cyr - 69009 LYON 04</span>
              </li>
              <li>
                <span>78 02 97 70</span>
              </li>
              <li>
                <span>contact@gayssot-recouvrement.com </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-md-3">
          <div class="social-content">
            <h4>Des questions ?</h4>
            <ul>
              <li>
                <p>Prenons rdv pour échanger !</p>
              </li>
              <li>
                <h4>Nous rejoindre ?</h4>
              </li>
              <li>
                <p>On recrute ! </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
