<!DOCTYPE html>
<html lang="ru">
  @@include("./_head.html", { "title": "Home Page" })

  <body>
    @@include("../../components/modules/header/header.html")
    <main class="page">
      <!-- First screen -->
      <section class="first-screen">
        <div class="overlay"></div>
        <div class="container">
          <div class="first-screen-content col-xl-11">
            <h1 class="heading-title">Déléguez vos pré-relances et vos relances de factures impayées</h1>
            <p>
              Faites-vous payer en phase amiable en 60 jours jusqu’à 90% de vos factures impayées grâce à
              GAYSSOT RECOUVREMENT
            </p>
          </div>

          <a href="#" class="btn-yellow">DEMANDEZ UN AUDIT</a>
        </div>
      </section>

      <!-- NOS SERVICES RECOUVREMENT -->
      @@include("../../components/modules/nos-services/nos-services.html")

      <!-- Les AVANTAGES de GAYSSOT Recouvrement -->
      @@include("../../components/modules/avantages/avantages.html")

      <!-- Recevez -->
      @@include("../../components/modules/recevez/recevez.html")

      <!-- Recomendation -->
      @@include("../../components/modules/recomendation/recomendation.html")

      <!-- Programmer -->
      @@include("../../components/modules/programmer/programmer.html")

      <!-- Slider reviews -->
      @@include("../../components/modules/slider-reviews/slider-reviews.html")

      <!-- Slider video -->
      @@include("../../components/modules/slider-video/slider-video.html")

      <!-- Vous -->
      <section>
        <div class="programmer">
          <div class="container">
            <div class="_border vous">
              <div class="heading">Vous avez une question?</div>
              <div class="subtitle _border-bottom">
                Contactez-nous à l’aide de <strong>notre formulaire de contact</strong>
              </div>
              <div class="subtitle">ou en nous appelant au</div>

              <div class="phone">
                <img src="@img/sprites/phone.svg" alt="phone" />
                <a href="tel:04 78 02 97 70">04 78 02 97 70</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Social media -->
      @@include("../../components/modules/social-media/social-media.html")
    </main>
    @@include("../../components/modules/footer/footer.html")
    <script src="../js/vendor.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
