<section class="slide-reviews">
  <div class="swiper-overflow-container">
    <div class="container py-5">
      <div class="title">Ce que nos clients disent de nous</div>
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="slide-top">
              <div>
                <img src="@img/avatar.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>

            <div class="slide-title">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt, explicabo.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top">
              <div>
                <img src="@img/avatar.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>

            <div class="slide-title">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt, explicabo.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top">
              <div>
                <img src="@img/avatar.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>

            <div class="slide-title">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt, explicabo.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top">
              <div>
                <img src="@img/avatar.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>

            <div class="slide-title">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt, explicabo.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top">
              <div>
                <img src="@img/avatar.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>

            <div class="slide-title">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt, explicabo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="box-btn">
        <div class="swiper-btn-prev">
          <img src="@img/sprites/prev.svg" alt="" />
        </div>
        <div class="swiper-btn-next">
          <img src="@img/sprites/next.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
