<section class="recevez">
  <div class="container">
    <div class="recevez-top">
      <h2>Recevez un audit gratuit de votre poste clients</h2>
      <p>
        GAYSSOT est là pour vous accompagner dans la gestion de votre poste clients et vous propose un audit
        gratuit sans aucun engagement
      </p>
    </div>

    <div class="recevez-list">
      <div class="recevez-list-item">
        <img src="@img/recevez/1.svg" alt="icon" />
        <p>Diagnostic de vos processus</p>
      </div>
      <div class="recevez-list-item">
        <img src="@img/recevez/2.svg" alt="icon" />
        <p>Qualification de votre encours clients</p>
      </div>
      <div class="recevez-list-item">
        <img src="@img/recevez/3.svg" alt="icon" />
        <p>Recommandations et plan d'action</p>
      </div>
      <div class="recevez-list-item">
        <img src="@img/recevez/4.svg" alt="icon" />
        <p>Estimation des gains potentiels de trésorerie</p>
      </div>
    </div>
    <div class="recevez-btn">
      <a href="#" class="btn-yellow">Demander un devis</a>
    </div>
  </div>
</section>
