.slide-video {
  background: #EAE6F4;
}

.slide-top-video {
  img {
    width: 263px;
    height: 203px;
    border-radius: 8px;
    margin-bottom: 13px;
  }


  p {
    font-size: rem(20);
    font-weight: 500;
    margin-bottom: 0;
  }

  span {
    font-size: rem(14);
    font-weight: 400;
  }
}