<section class="slide-video">
  <div class="swiper-overflow-container">
    <div class="container py-5">
      <div class="swiper-video">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="slide-top-video">
              <div>
                <img src="@img/video.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top-video">
              <div>
                <img src="@img/video.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top-video">
              <div>
                <img src="@img/video.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top-video">
              <div>
                <img src="@img/video.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-top-video">
              <div>
                <img src="@img/video.png" alt="avatar" />
              </div>
              <div>
                <p>L’Oréal Paris</p>
                <span>Wilmer Alexander Directeur financier</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-btn">
        <div class="swiper-btn-prev-video">
          <img src="@img/sprites/prev.svg" alt="" />
        </div>
        <div class="swiper-btn-next-video">
          <img src="@img/sprites/next.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
