<section class="avanteges">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <img src="@img/2.png" alt="" />
      </div>
      <div class="col-xl-6 pt-4">
        <h2>Les AVANTAGES de GAYSSOT Recouvrement</h2>

        <ul class="avanteges-items">
          <li class="avanteges-item">
            <div class="avanteges-icon"><img src="@img/avantages/1.svg" alt="icon" /></div>
            <div class="avanteges-content">
              <p>90% recouvré à l’amiable</p>
              <span>90% des factures sont recouvrées à l’amiable tout en préservant la relation client;</span>
            </div>
          </li>
          <li class="avanteges-item">
            <div class="avanteges-icon"><img src="@img/avantages/2.svg" alt="icon" /></div>
            <div class="avanteges-content">
              <p>0 frais de dossier</p>
              <span>Nous appliquons un taux d’honoraire % uniquement sur les sommes encaissées;</span>
            </div>
          </li>
          <li class="avanteges-item">
            <div class="avanteges-icon"><img src="@img/avantages/3.svg" alt="icon" /></div>
            <div class="avanteges-content">
              <p>l’argent récupéré va directement survotre compte</p>
              <span>Nous appliquons un taux d’honoraire % uniquement sur les sommes encaissées;</span>
            </div>
          </li>
          <li class="avanteges-item">
            <div class="avanteges-icon"><img src="@img/avantages/4.svg" alt="icon" /></div>
            <div class="avanteges-content">
              <p>un conseiller ou une équipe dédiés</p>
              <span
                >Chaque client de Gayssot a un conseiller ou une équipe dédiés. Facilement joignable par
                téléphone, e-mail, ou sur RDV physique.</span
              >
            </div>
          </li>
          <li>
            <a href="#" class="btn-yellow">Les autres avantages de Gayssot</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
