<section class="services">
  <div class="container">
    <h3>NOS SERVICES RECOUVREMENT</h3>

    <ul class="gap-5 flex-wrap col-xl-10 justify-content-center offset-xl-1 services-items">
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/1.png" alt="icon" />
          <p>Pré-relance commerciale</p>
        </a>
      </li>
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/2.png" alt="icon" />
          <p>Recouvrement amiable</p>
        </a>
      </li>
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/3.png" alt="icon" />
          <p>Recouvrement judiciaire</p>
        </a>
      </li>
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/4.png" alt="icon" />
          <p>Médiation</p>
        </a>
      </li>
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/5.png" alt="icon" />
          <p>Gestion des défaillances</p>
        </a>
      </li>
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/6.png" alt="icon" />
          <p>Audit et Conseils</p>
        </a>
      </li>
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/7.png" alt="icon" />
          <p>Créances à l’international</p>
        </a>
      </li>
      <li class="services-item">
        <a href="#" class="services-item-link">
          <img src="@img/services-icon/8.png" alt="icon" />
          <p>Formation</p>
        </a>
      </li>
    </ul>
  </div>
</section>
